.day-cell {
  font-size: 7px;
  width: 10px;
  height: 10px;
  background-color: #ededed;
}

.lvl1 {
  background-color: #acd5f2;
}

.lvl2 {
  background-color: #7fa8c9;
}

.lvl3 {
  background-color: #7fa8c9;
}

.lvl4 {
  background-color: #254e77;
}
