.day-cell {
  width: 15px;
  height: 15px;
  background-color: #ededed;

  &:hover {
    border: 1px solid #7f7f7f;
  }
}

.lvl1 {
  background-color: #acd5f2;
}

.lvl2 {
  background-color: #7fa8c9;
}

.lvl3 {
  background-color: #7fa8c9;
}

.lvl4 {
  background-color: #254e77;
}

.tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contributions {
  font-size: 12px;
}

.date {
  color: #7c7c7c;
  font-size: 10px;
}
