.day-cell {
  width: 15px;
  height: 15px;
  background-color: #ededed;

  &:hover {
    border: 1px solid #7f7f7f;
  }
  &:focus {
    border: 1px solid #1a1a1a;
  }
  transition: background-color 0.5s;
}

.lvl1 {
  background-color: var(--graph-level-1);
}

.lvl2 {
  background-color: var(--graph-level-2);
}

.lvl3 {
  background-color: var(--graph-level-3);
}

.lvl4 {
  background-color: var(--graph-level-4);
}

.tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contributions {
  font-size: 12px;
}

.date {
  color: #7c7c7c;
  font-size: 10px;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  color: inherit;
  font: inherit;

  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
  -webkit-appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
